* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* elements */
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #2a607c;
    padding: 20px;
}

body {
    background-color: #d9dcd6
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

/* .seo handles  */
.seo {
    color: #d9dcd6;
}

.hero {
    height: 800px;
    margin-bottom: 25px;
}

.content {
    display: inline-block;
    color: #ffffff;
    width: 75%;
    margin-left: 20px
}

.content-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
}
 
.float-left {
    float: left;
    max-height: 200px;
    margin-right: 25px;
}

.float-right {
    float: right;
    max-height: 200px;
    margin-left: 25px;
}

.benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    background-color: #2589bd;
    float: right;
    clear: both;
    width: 20%;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
}

.benefit-box {
    margin-bottom: 32px;
}

.benefit-icon {
    max-width: 150px;
    display: block;
    margin: 10px auto;
}

/* ids */
#meeting {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#made-with {
    font-size: 20px;
}


